.box {
  margin-top: 15px;
  margin-left: 15px;;
  
}  
.headers {
  display: flex;
  flex-direction:row;
  list-style-type:none;
}

.hlinks {
  margin-left: 15px;
  text-decoration: none;
}  
.isActive {
  text-decoration: underline;
}
