@import "../../styles/variables.css";
.box {
  position: fixed; 
  z-index: 9;
  width: 100%; 
  height: var(--header-height); 
  opacity: 1;
  background-color: var(--background-colorNT);
  padding-left: 15px;
}  