@import "../../../styles/variables.css";
.boxmenu{
  display: flex;
  flex-direction: column;
  cursor: pointer;

}
.button{
  background-color:var(--button-background-color);
  margin-top: 15px;
  border-radius:var(--button-border-radius);
 
 }

.menu {
  background-color: var(--menu-background-color);
  border-bottom-right-radius : var(--img-border-radius);
  width: 300px; 
  opacity: 0;
  visibility: hidden;
} 

.menu__active {
  opacity: 1;
  visibility: visible;
}

.menu__items {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}  
.menu__item {
  margin: 0;
  list-style-type: none;
  margin-top: 15px;
  margin-left: 15px;
}


.menu__item:hover {
  background-color: #F0F0F4;

}