:root {
  --padding-left: 25px;
  --top: 50px;
  --position: relative;
}  

.box{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: var(--padding-left);  
  top: var(--top);
  position: var(--position); 
}

.page{
  padding-left: var(--padding-left);  
  top: var(--top);
  position: var(--position); 
}
